<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266380105310-b6epc1kb7tqsjpa6nr6te6guq43nvov9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266380105310-b6epc1kb7tqsjpa6nr6te6guq43nvov9</string>
	<key>API_KEY</key>
	<string>AIzaSyB5OXqpCVSmdxDu9FCzr1PcGnPt5fAEwus</string>
	<key>GCM_SENDER_ID</key>
	<string>266380105310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelio</string>
	<key>PROJECT_ID</key>
	<string>hotelio-9d810</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelio-9d810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266380105310:ios:923816f2064b1bc68846cf</string>
</dict>
</plist>